$base-color: #323c45;
$accent-color: #fdb672;

$primary-font: "Noah", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$gray-138: #8a8a8a;
$gray-183: #b7b7b7;
$muted-color: #7a7a7a;
$danger-color: #fd0d4d;

$text-size: 18px;
$context-default: $text-size;
