.footer-social {

}

.footer-social__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social__item {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.footer-social__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $accent-color;
  transition: 0.2s;

  &:hover,
  &:focus {
    color: #ffffff;
  }
}

.footer-social__icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
