.header-contact {
}

.header-contact__list {
  @include clear-list();

  display: flex;
  align-items: center;
}

.header-contact__item {
  margin-right: rem(24px);

  &:last-child {
    margin-right: 0;
  }

  &--callback {
    margin-right: 0;
  }

  &--phone-button {
    margin-right: 0;
  }


  @media (max-width: 767px) {
    &--callback {
      display: none;
    }
  }

  @media (min-width: 768px) {
    &--phone-button {
      display: none;
    }
  }
}

.header-contact__phone {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  text-decoration: none;
  color: $base-color;
  transition: 0.1s;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    opacity: 0.8;
  }

  @media (min-width: 667px) {
    font-size: rem(16px);
  }
}

.header-contact__phone-button {
  min-width: auto;
  padding: 12px;
}

.header-contact__phone-code {
  @media (max-width: 374px) {
    display: none;
  }
}

.header-contact__phone-number {
  font-size: 20px;
  vertical-align: baseline;

  @media (min-width: 667px) {
    font-size: rem(24px);
  }
}
