.menu-card {

}

.menu-card__wraplink {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: rem(20px);
  text-decoration: none;
  color: $base-color;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s;
  outline: none;
  box-sizing: border-box;

  &:hover,
  &:focus {
    transform: translateY(-8px);
    border-color: rgba(#9babba, 0.4);
  }

  .menu-card--black & {
    color: #ffffff;
    background-color: $black-color;
  }
}

.menu-card__picture {
  @include make-fit-object(300, 225, contain);

  margin-bottom: rem(20px);
}

.menu-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.menu-card__name {
  margin: 0;
  margin-bottom: rem(16px);
  font-weight: 400;
  font-size: rem(20px);
  line-height: 1;
}

.menu-card__description {
  @include clear-mr-edges-elem();

  margin-bottom: rem(16px);
  font-size: rem(14px);
  line-height: 1.3;
  color: $muted-color;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  .menu-card--black & {
    color: $gray-224;
  }
}

.menu-card__info {
  margin-top: auto;
}

.menu-card__price {
  margin: 0;
  font-weight: 400;
  font-size: rem(22px);
  text-align: right;
}

.menu-card__price-currency {
  font-size: 0.72em;
}
