.menu-sheet {
  padding-top: 20px;
  padding-bottom: 20px;

  & > h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: rem(40px);
    margin-bottom: rem(32px);
    font-weight: 400;
    font-size: rem(28px);
    text-align: center;
    line-height: 1;
    // text-transform: uppercase;

    &::before,
    &::after {
      content: "";
      flex-grow: 1;
      height: 1px;
      background-color: $muted-color;
      opacity: 0.4;
    }

    &::before {
      margin-right: rem(20px);
    }

    &::after {
      margin-left: rem(20px);
    }
  }
}

.menu-sheet__title {
  margin: 0;
  margin-bottom: rem(40px);
  font-weight: 400;
  font-size: rem(28px);
  text-align: center;
  line-height: 1;
  text-transform: uppercase;

  small {
    position: relative;
    display: block;
    margin-top: 12px;
    padding-top: 12px;
    font-size: em(16, 28px);
    color: $muted-color;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100px;
      height: 1px;
      transform: translateX(-50%);
      background-color: $muted-color;
      opacity: 0.6;
    }
  }
}
