.menu-navigation {
}

.menu-navigation__list {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
  background-color: #182d36;

  @media (min-width: 1024px) {
    flex-wrap: nowrap;
  }
}

.menu-navigation__item {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: calc(100% / 2);
  overflow: hidden;
  transition: 0.5s 0.1s ease-in-out;
  user-select: none;

  @media (min-width: 667px) {
    width: calc(100% / 4);
  }

  @media (min-width: 1024px) {
    width: calc(100% / 6);
  }

  @media (pointer: fine) {
    will-change: width;

    &:hover,
    &:focus-within {
      flex-grow: 6;
      width: calc(100% / 6 * 2.5);
      transition-delay: 0s;
    }
  }
}

.menu-navigation__bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  transition: 0.3s;

  .menu-navigation__item:hover &,
  .menu-navigation__item:focus-within & {
    opacity: 0.4;
  }

  @media (pointer: fine) {
    left: 50%;
    width: calc(100vw / 6 * 2);
    transform: translateX(-50%);
  }
}

.menu-navigation__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(#182d36, 0.3);

  &:active {
    opacity: 0.8;
  }

  @media (min-width: 768px) {
    padding-top: 52px;
    padding-bottom: 52px;
    font-size: 24px;
  }

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 1280px) {
    padding-top: 132px;
    padding-bottom: 140px;
    font-size: rem(24);
  }
}

.menu-navigation__icon {
  flex-shrink: 0;
  width: 76px;
  height: 76px;
  margin-bottom: 8px;
  fill: $accent-color;

  @media (min-width: 768px) {
    width: rem(92);
    height: rem(92);
    margin-bottom: 12px;
  }
}

.menu-navigation__text {
}
