.page-header {
  position: relative;
  margin-bottom: 80px;
  padding-top: calc(74px + 72px);
  padding-bottom: rem(120px);
  color: #ffffff;

  @media (min-width: 768px) {
    padding-top: calc(#{rem(102px)} + #{rem(100px)});
  }

  @media (min-width: 1024px) {
    padding-top: calc(#{rem(109px)} + #{rem(100px)});
  }
}

.page-header__inner {
  position: relative;
  z-index: 1;
}

.page-header__menu-links {
  margin-top: 36px;
}
